
<section class="clothing-area">

    <section class="title">
        <h1>{{product.name}}</h1>
    </section>

     <section class="box-container-single">
            <a href=""><img class="clothes-img" src="{{product.image}}" alt=""></a>
            <figcaption>{{product.name}}</figcaption>
            <p>Price: {{product.price}} {{product.currency}}</p>
     
    </section>
   

</section>